@model IEnumerable<Leif_Gym_Manager.Models.MemberShipType>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h1>Memberships</h1>

                        
                        <i class="fa fa-plus fa-align-justify"></i> <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>
                                        Price(£)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Frequency)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MemberShipName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactTerm)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MinimumAge)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaximumAge)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedAt)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Frequency)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MemberShipName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactTerm)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MinimumAge)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaximumAge)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.MemberShipTypeId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.MemberShipTypeId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.MemberShipTypeId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

